.bright-bar{
    background-color:#f5f5f5b5;
    /* background-color: #f3f5f2; */
    padding: 80px 0;
    position: relative;
    overflow-x: hidden !important;
 }
 .slick-slide {
   margin: 0 10px; /* Add space between slides */
 }
 
 
 .slick-track {
   display: flex; /* Ensure proper alignment */
 }
 
 .bright-bar .right-content .text-content {
   font-size: 33px;
   font-weight: 500;
   margin-bottom: 20px;
   color: #5b5858;
 }
 .bright-bar .img-container{
   max-width: 750px;
 }
 
 .bright-bar .img-container img{
    height: 100%;
    width: 100%;
 }
 .bright-bar .slider-section{
    position: relative;
    z-index: 3;
    margin-left: -160px;
    padding-top: 75px;
 }
 .bright-bar .product-card{
   border: 1px solid #ffffff;
   padding: 22px 13px;
   border-radius: 8px;
    position: relative;
    background: var(--white-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid rgba(25, 53, 3, 0.2);
 }
 .bright-bar .product-card .product-name{
   font-size: 17px;
   margin-bottom: 0;
   color:#222e48;
   font-weight: 600;
   margin: 3px 0;
   margin-left: 6px;
   position: relative;
 }
 .bright-bar .main-title{
   font-size: 45px;
   line-height: 1.2;
   color: #222E48;
 }
 /* .bright-bar .product-card .product-name::before {
   height: 2px;
   width: 39px;
   position: absolute;
   top:43%;
   content: "";
   display: block;
   background-color: var(--dark-txt);
 }
 .bright-bar .product-card .product-name::after {
    height: 2px;
    width: 39px;
    position: absolute;
    top:43%;
    content: "";
    display: block;
    background-color: var(--dark-txt);
    right: 0;
 } */
 /* .bright-bar .product-card .img-container{
    max-width: 300px;
    height: 200px;
    margin: 29px 0;
    
 } */
 .bright-bar .product-card .img-container img{
   margin: 13px 0;
   height: 185px;
   width: 100%;
 }
 .bright-bar .slider-section{
    height: 400px;
 }
 
 .bright-bar .slick-prev {
    top: -68px;
    left: 78%;
 }
 .bright-bar .slick-next {
    top:-68px;
    left: 85%;
 }
 /* .slick-prev:before,
 .slick-next::before {
    font-family: 'slick';
    font-size: 50px !important;
    line-height: 20px;
    opacity: .75;
    color: #fa6f41 !important;
    display: block;
 } */
 .slick-prev:before {
   display: flex;
   content: '';
   background-image: url(../../public/images/icons/previousbtn.svg);
   padding: 24px;
   background-color: #dedede;
   background-repeat: no-repeat;
   box-shadow: 0px 4px 0px 0px #000000;
   opacity: 1 !important;
   height: 40px;
   width: 40px;
      }
      .slick-next:before {
         display: flex;
             content: '';
             background-image: url(../../public/images/icons/navigate-next.svg);
             height: 40px;
             width: 40px;
             padding: 24px;
             background-color: #dedede;
             background-repeat: no-repeat;
             box-shadow: 0px 4px 0px 0px #000000;
             opacity: 1 !important;
      }
 @media screen and (max-width:1200px) {
    .bright-bar .product-card .product-name {
       font-size: 14px;
    }  
    .bright-bar .slider-section {
       padding-top: 22px;
   }
   .bright-bar .product-card {
    border: 1px solid var(--dull-white);
    padding: 10px 13px;
   }
   .bright-bar .product-card .img-container {
    max-width: 286px;
    height: 171px;
   }
   .bright-bar .product-card .img-container {
    margin: 18px 0;
 }
 }
 @media screen and (max-width:992px) {
    .bright-bar {
       padding: 50px 0;
    }
    .bright-bar .right-content
    {
       padding: 0 20px;
    }
    .bright-bar {
       padding: 45px 0;
    }
 
    .bright-bar .slider-section {
       margin-left: 0;
    }
 }
 
 @media screen and (max-width:767px) {
    .bright-bar .right-content .text-content {
       font-size: 31px;
    }
    /* .main-text-box {
       width: 231px;
   } */
   .bright-bar .slick-prev {
    top: -68px;
    left: 71%;
 }
 .main-title {
    font-size: 10vw;
 }
 }
 
 @media screen and (max-width:575px) {
       .bright-bar .product-card .product-name {
           font-size: 14px;
           padding: 10px 0;
       }
       .bright-bar .product-card .img-container {
          margin: 0;
      }
      .bright-bar .product-card .img-container {
       max-width: 232px;
       height: 170px;
   }
   .bright-bar .main-title {
      font-size: 24px;
   }
   .bright-bar .slider-section {
    height: 351px;
 }
 .bright-bar .right-content .text-content {
    font-size: 22px;
 }
 .slick-slide{
   width: 260px !important;
 }
 }