.footer {
    position: relative;
    background: url('https://img.freepik.com/free-photo/steel-bars-welded-together-industrial-setting_157027-4245.jpg?t=st=1735735442~exp=1735739042~hmac=faaa1d9d48b66ea62b999bef9827e6cbf5c6d44e728ac4eaca5b6f95d7867cca&w=1060') no-repeat center/cover;
    color: #f8f9fa;
    padding: 2rem 0;
    font-size: 14px;
    background-position: center;
}

.footer::after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(55, 19, 5, 0.9);
    opacity: 0.9;
    z-index: 1;
}

.footer .container {
    position: relative;
    z-index: 2;
}

.footer .footer-sections {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: column;
}

.footer h5 {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 20px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.footer ul {
    padding: 0;
    list-style: none;
}

.footer ul li {
    margin-bottom: 1.4rem;
}

.footer ul li:last-child {
    margin-bottom: -30px;
}

.footer h5:first-child {
    margin-top: 1rem;
}

.footer a {
    color: #f8f9fa;
    text-decoration: none;
    font-size: 13.5px;
    transition: color 0.3s ease-in-out;
}

.footer li.reach{
    margin:8px 0;
}

.footer h6.follow{
    font-size: 13.5px;
    margin-top: 30px;
}


.footer a:hover {
    color: var(--primary-color);
}

.footer .social-links a {
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.footer p {
    margin: 0;
    font-size: 13px;
    text-align: left;
    width: 60%;
}

.footer-dev h6 {
    text-align: center;
    font-size: 12px;
}

.footer-dev h6 a{
    color: #f8f9fa;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    font-size: 12px;
    font-weight: normal
}

.footer-main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.footer-main-header .ml-2 {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.footer-main-header.active .ml-2 {
    transform: rotate(180deg);
}

/* Media Queries for Small Screens */
@media (max-width: 768px) {
    .footer-sections {
        flex-direction: column;
    }

    .footer h5 {
        font-size: 14px;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
    }

    .footer ul li a {
        font-size: 11px;
    }

    .footer p {
        font-size: 11px;
    }

    .footer .social-links a {
        font-size: 15px;
    }

    .footer-main-header .ml-2 {
        display: inline;
    }

    /* Ensure the background image adjusts for smaller screens */
    .footer {
        background-size: auto 100%; /* Set the image to auto width and full height */
        background-position: top center; /* Position the background at the top center */
    }
}

@media (min-width: 769px) {
    .footer-main-header .ml-2 {
        display: none;
    }
}
