.hero-section{
    position: relative;
}
.hero-section:before{
    position: absolute;
    top: 0;
    content: "";
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #400000;
    z-index: 1;
    opacity: 0.5;
}
.hero-section .img-container-box{
    padding-bottom: 740px;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.hero-section .img-container-box .img-inner-box{
    margin: 0;
    display: block;
    padding: 0;
    border: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background: 0 0;
}
.hero-section .img-container-box .img-inner-box img{
    display: block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

.hero-section .slider-content {
    position: absolute;
    top: 37%;
    left: 0;
    text-align: center;
    color: var(--white-color);
    z-index: 2;
    opacity: 0;
    right: 0;
    margin: auto;
  }

  .hero-section .slider-content .caresoule-title{
    font-size: 100px;
    margin: 0;
    letter-spacing: 1px;
    font-weight: 600;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}
.hero-section .slider-content .caresoule-content{
   font-weight: 400;
   font-size: 40px;
   margin-top: 30px;
   color: azure;
}

.slider-content span {
    display: inline-block;
    opacity: 0;
    transform: translateX(-100%);
    animation: slideInLeftChar 3s ease forwards;
  }
@keyframes slideInLeftChar {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .hero-section .break-word{
    display: block;
  }
  .hero-section .caresoule-title .break-word{
    font-weight: 400 !important;
  }
  .hero-section .carousel-control-prev,
  .hero-section .carousel-control-next {
    position: absolute;
    width: 15%;
    height: 30px;
    top: 85%;
    bottom: 100px;
    padding: 0;
    color:var(--white-color);
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
    z-index: 9999;
    display: flex;
        align-items: center;
 }
 .hero-section .carousel-control-prev-icon{
    display: inline-block;
 }
 .hero-section .carousel-control-prev-icon{
    font-size: 20px;
    transition: 0.7s all ease-in-out;
 
 }
 .hero-section .control-txt{
    font-size: 14px;
    font-weight: 800;
    margin: 0;
    padding: 0 20px;
 }
 .hero-section .prev-view{
    padding: 0 10px;  
 }
 .hero-section .prev-nex{
    padding: 0 10px;  
}
.hero-section .carousel-control-prev:hover {
    transform: translateX(-20px); /* Move the entire button 20px to the right */
    transition: 0.5s all ease-in-out;
}
  
  .hero-section .carousel-control-prev:hover .carousel-control-prev-icon {
    transform: scale(1.2); /* Optionally scale the icon for visual effect */
    transition: 0.5s all ease-in-out;
  }

  .hero-section .carousel-control-next:hover {
    transform: translateX(20px); /* Move the entire button 20px to the right */
    transition: 0.5s all ease-in-out;
}
  
  .hero-section .carousel-control-next:hover .carousel-control-next-icon {
    transform: scale(1.2); /* Optionally scale the icon for visual effect */
    transition: 0.5s all ease-in-out;
  }

  @media screen and (max-width:1199px) {
    .hero-section .img-container-box {
        padding-bottom: 690px;
    }  
    .hero-section .slider-content .caresoule-title {
        font-size: 74px;
    }  
  }
  @media screen and (max-width:991px) {
    .hero-section .img-container-box {
        padding-bottom:515px;
    }    
    .hero-section .slider-content .caresoule-title {
        font-size: 63px;
    }
    .hero-section .slider-content .caresoule-content {
        font-size: 31px;
    }    
  }

  @media screen and (max-width: 767px) {
    .hero-section .img-container-box {
        padding-bottom: 421px;
    }
    .hero-section .slider-content .caresoule-title {
        font-size: 50px;
    }
}
@media screen and (max-width: 575px) {
    .hero-section .img-container-box {
        padding-bottom: 316px;
    }
        .hero-section .slider-content .caresoule-title {
            font-size: 30px;
        }
        .hero-section .slider-content .caresoule-content {
            font-size: 20px;
            margin-top: 9px;
        }
}